html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


div#camera.hover-stats {
  position: absolute;
  top: 0;
  right: 0;
}
div#hud-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.translator-items {
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}

.hud {
  display: flex;
  width: 300px;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.translator, #light-translator, #targetObjectSelect, #targetLightSelect, #targetTextureSelect,  #targetLightType,.hud, #controls, #reload {
color: white;
background-color: rgba(0, 0, 0, 0.71);
}
 #targetObjectSelect, #targetTextureSelect {
   width: 100px;
   margin: 1rem auto;
 }

.translator,#light-translator {
  width: 200px;
  padding: 1rem;
}
#p5_loading {
  background-color: black;
  color:white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
#p5_loading  > h1{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}


#reload {
  position: absolute;
  z-index: 1;
  top: 0;
  left:0;
}

#controls {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}

.hide {
  display:none;
}