html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


div#camera.hover-stats {
  position: absolute;
  top: 0;
  right: 0;
}
div#translator-container.translator-stats {
  position: absolute;
  bottom: 0;
  left: 0;
}

.translator-items {
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}

.hud {
  display: flex;
  width: 200px;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.translator, #targetObjectSelect, .hud, #controls, #reload {
color: white;
background-color: rgba(0, 0, 0, 0.71);
}

.translator {
  width: 200px;
  padding: 1rem;

}

 #targetObjectSelect {
   width: 90%;
   margin: 1rem auto;
   background-color: rgba(0, 0, 0, 0.71);
   color: white;
 }

#reload {
  position: absolute;
  z-index: 1;
  top: 0;
  left:0;
}

#controls {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
}
